.user-discoverer-form {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas: 'user-name-input user-submit';
  align-content: center;
  justify-content: center;

  .user-name-input {
    font-size: 25px;
    border-radius: 5px 0px 0px 5px;
    grid-area: user-name-input;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0px 1px 1px;

    &:focus {
      outline: none;
      border-color: #bbb;
    }
  }

  .user-submit {
    grid-area: user-submit;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: #ccc;

    &:hover {
      outline: none;
      background-color: #ddd;
    }

    &:focus {
      outline: none;
      border: 2px solid #bbb;
    }
  }
}
