
.user-profile {
  background-color: #f0f0f0;
  border-radius: 5px;
  //width: 100%;
  display: grid;
  grid-template-areas:
    'user-avatar user-name'
    'user-avatar user-location'
    'user-avatar user-bio'
    'user-avatar user-links-h'
    'user-avatar user-links';
  grid-column-gap: 10px;
  justify-content: left;

  .user-avatar {
    grid-area: user-avatar;
    border-radius: 5px 0px 0px 5px;
    width: 150px;
    height: auto;
  }

  .user-name {
    grid-area: user-name;
  }

  .user-links-h {
    grid-area: user-links-h;
  }

  .user-links {

    grid-area: user-links;

    .link {
      display: inline-block;
      margin: 2px;
    }
  }

}
