
.repos {
  display: grid;
  grid-template-areas: 'repos-h' 'repos-item';
  align-content: center;
  justify-content: center;

  .repos-h {
    grid-area: repos-h;
  }

  .repos-item {
    grid-area: repos-item;
  }
}
